extends layout

block content

  div
    hr
    h1 Greetings from Titi Hanifah
    hr
    table
      tr
        td(width='300px')
          b Nama Lengkap
        td Titi Hanifah
      tr
        td
          b Universitas/Instansi
        td Universitas Gadjah Mada
      tr
        td
          b Jurusan
        td Ilmu Komputer dan Sistem Informasi
      tr
        td
          b Angkatan
        td 2015
    hr
    p
      font(size='3') Motivasi saya mengikuti #[b Fullstack Javascript Workshop] adalah untuk belajar hal baru, lebih mengerti tentang pemrograman, menambah pengalaman, mendapatkan hal baru dan teman-teman baru yang hebat dan bisa belajar banyak hal yang belum saya pahami sebelumnya.
    hr

    p
      font(size='2') #[i Computer Science and Information System Student]

      hr

  script(src='js/bootstrap.min.js')
  script(src='js/jquery-3.1.1.min.js')
